@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Git Hub <a href="https://github.com/shamsiddin28"></a></p>
    <p>Telegram <a href="https://t.me/shamsiddin_13"></a></p>
</div>
