<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="media/logos/box.ico" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-image: url(https://img.freepik.com/free-photo/wooden-product-display-podium-with-blurred-nature-leaves-background-generative-ai_91128-2268.jpg?size=626&ext=jpg&ga=GA1.1.1075538363.1712519812&semt=ais);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;">

    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/plugins.site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>