@using Product.Service.DTOs.Accounts;
@model AccountLoginDto
@{
    Layout = "_AccountLayout.cshtml";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["InfoMessage"] != null)
{
    <div id="infoAlert" class='alert alert-info alert-dismissible fade show' role='alert'>
        <strong>Information ! </strong> @TempData["InfoMessage"]
        <button type="button" class="close" data-ds-dismiss='alert' aria-label="Close">
            <span>&times;</span>
        </button>
    </div>

    <script>
        // Automatically hide the success message after 3 seconds
        $(document).ready(function () {
            setTimeout(function () {
                $("#infoAlert").fadeOut("slow");
            }, 3000);
        });
    </script>
}
else if (TempData["SuccessMessage"] != null)
{
    <div id="successAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success ! </strong> @TempData["SuccessMessage"]
        <button type="button" class="close" data-dismiss='alert' aria-label="Close">
            <span>&times;</span>
        </button>
    </div>

    <script>
        // Automatically hide the success message after 3 seconds
        $(document).ready(function () {
            setTimeout(function () {
                $("#successAlert").fadeOut("slow");
            }, 3000);
        });
    </script>
}
else if (TempData["ErrorMessage"] != null)
{
    <div id="errorAlert" class='alert alert-danger alert-dismissible fade show' role='alert'>
        <strong>Error ! </strong> @TempData["ErrorMessage"]
        <button type="button" class="close" data-ds-dismiss='alert' aria-label="Close">
            <span>&times;</span>
        </button>
    </div>

    <script>
        // Automatically hide the success message after 3 seconds
        $(document).ready(function () {
            setTimeout(function () {
                $("#errorAlert").fadeOut("slow");
            }, 3000);
        });
    </script>
}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .login-container {
            margin: 0 auto;
            width: 300px;
            margin-top: 100px;
        }

            .login-container h2 {
                text-align: center;
            }

        .login-form {
            background-color: #f2f2f2;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

            .form-group label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .form-group input[type="text"], .form-group input[type="password"] {
                width: calc(100% - 12px);
                padding: 6px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }

            .form-group input[type="submit"] {
                width: 100%;
                padding: 8px;
                border: none;
                background-color: #007bff;
                color: #fff;
                cursor: pointer;
                border-radius: 3px;
            }

                .form-group input[type="submit"]:hover {
                    background-color: #0056b3;
                }

        /* Style for the show/hide password button */
        .toggle-password {
            position: relative;
            margin-left: -25px;
            margin-top: -30px;
            cursor: pointer;
        }

            .toggle-password img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
            }
    </style>

</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <div class="login-form">
            <form asp-controller="Accounts" asp-action="Login" method="post">
                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="+998971234567" required />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required />
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>

